* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: silver;
}

.score {
    font-size: 24px;
    transition: all 0.3s ease;
}

.increment {
    font-size: 200%;
}

.user {
    color: green;
}

.cpu {
    color: red;
}

.inputs {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.input {
    padding: 1.2rem;
    border-radius: 8px;
    font-size: 20px;
    transition: all .3s ease;
    
}

.input:hover {
    padding: 1.5rem;
}

.result {
    text-align: center;
    font-size: 36px;
}